<!-- Photos via Unsplash Source https://source.unsplash.com/ -->
<section class="content-section" data-scroll>
  <div class="content">
    <header class="header">
      <div class="subheading">wedding-clothes</div>
      <h2 class="heading">Wedding-Clothesとは？<br /></h2>
    </header>
    <p class="paragraph">

      <br><span style="background-color:#ff0">「結婚式の服装=ブラックスーツ」</span>という概念が崩れつつあります。今は華やかな場所には華やかな装いをするのが礼儀です。<br>wedding-clothesではオシャレ自慢のユーザーがコーデを投稿するアプリになります。
    </p>
      <span><%= image_tag "about.image.png" %></span>
  </div>
</section>
