

<section class="intro-section">
  <h1 class="intro-heading"> Watch</h1>

  <p>The latest in time-telling technology.</p>
</section>

<!-- Photos via Unsplash Source https://source.unsplash.com/ -->
<section class="content-section" data-scroll>

  <div class="content">
    <header class="header">
      <div class="subheading">Wedding-Clothes</div>
      <h2 class="heading">WeddingClothesとは？</h2>
    </header>
    <p class="paragraph">
      結婚式で着用するコーデを投稿するサイトです。結婚式での服装は「ブラックスーツ」が一般的ですが、華やかに場に合わないという指摘もあります。TPOに合わせた『華やかな着こなし』を共有しましょう！
    </p>
  </div>
</section>
