
<div class ="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">『Wedding-clothes』</h1>
    <h2 class="text-white">結婚式での着こなしを投稿するサイト</h2>
　 <div class="row">
     <div class="col-md-offset-3 col-md-3">
       <%= link_to 'WeddingClothesとは？', pages_about_path, class: 'btn btn-block btn-white' %>
     </div>
     <div class=" col-md-3">
       <%= link_to '新規ご登録はこちら', new_user_path, class: 'btn btn-block btn-white' %>
     </div>
   </div>
 </div>
</div>
